---
title: Our Story | The Future Fullers
layout: default
permalink: /story
---

<div class="container">
    <ul class="timeline">
      {% for event in site.data.pages.story %}
        <li {% cycle '', 'class="timeline-inverted"' %}>
            <div class="timeline-badge">{{ event.year }}</div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title cursive">{{ event.header }}</h4>
                </div>
                <div class="timeline-body">
                    {{ event.content | markdownify }}
                  {% if event.image %}
                    <img class="lazy" width="100%" src="{{ site.data.pages.no_img }}" data-src="{{ event.image }}" />
                  {% elsif event.images %}
                    <img class="lazy" width="49%" src="{{ site.data.pages.no_img }}" data-src="{{ event.images[0] }}" />
                    <img class="lazy" width="49%" src="{{ site.data.pages.no_img }}" data-src="{{ event.images[1] }}" />
                  {% endif %}
                </div>
            </div>
        </li>
      {% endfor %}
    </ul>
</div>
