---
title: Wedding | The Future Fullers
layout: map
callback: weddingMap
permalink: /wedding
---
<div class="container">
    <div class="row hidden-xs hidden-sm">
      {% for event in site.data.pages.wedding %}
        <div class="col-md-3 wedding-event {{ event.class }}-header" data-event="{{ event.class }}">
            <div class="circle"></div>
            <h1 class="cursive">{{ event.title }}</h1>
            {{ event.time | markdownify }}
        </div>
      {% endfor %}
    </div>
    <div class="row hidden-xs hidden-sm">
      {% for event in site.data.pages.wedding %}
        <div class="col-xs-12 col-md-4 info wedding-info hidden {{ event.class }}-content">
            <h3>{{ event.title }} Details</h3>
            {{ event.content | markdownify }}
        </div>
      {% endfor %}
        <div class="col-xs-12 col-md-8 map-container">
            <div class="map wedding-map"></div>
        </div>
    </div>
    <div class="row hidden-md hidden-lg">
        {% for event in site.data.pages.wedding %}
          <div class="col-xs-12">
              <h1 class="cursive">{{ event.title }}</h1>
              {{ event.time | markdownify }}
              <p>{{ event.address }}</p>
              <span class="info">
              {{ event.content | markdownify }}
              </span>
              <div class="spacer"></div>
          </div>
        {% endfor %}
    </div>
</div>
<script src="/js/wedding.js"></script>
