$black: #222;
$gray: #444;
$light-gray: #666;
$offwhite: #c9c9c9;
$white: #fff;

$navy: #005;
$champagne: #f0e68c;

$cta-blue: #00a1de;
$cta-orange: #f9461c;

@import url('https://fonts.googleapis.com/css?family=Allura|Roboto:300,400,700');

body,
html {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  text-align: center;
}

p,
li {
  color: $gray;
}

li {
  margin-bottom: 10px;
  text-align: justify;
}

h1,
h2,
h3 {
  color: $black;
  margin-top: 10px;
}

.lazy {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.cursive {
  font-family: 'Allura', cursive;
}

.mono {
  font-family: monospace;
  font-weight: 700;
}

.spacer {
  padding-top: 100px;
}

.row-space {
  margin-top: 20px;
}
