$offwhite: #c9c9c9;
$white: #fff;

$navy: #213c5e;
$champagne: #f0e68c;

$cta-blue: #00a1de;
$cta-orange: #f9461c;

@import url('https://fonts.googleapis.com/css?family=Allura|Roboto:300,400,700');

body,
html {
  height: 100%;
}

body {
  font-family: 'Palatino', 'Helvetica', sans-serif;
  text-align: center;
}

a {
  color: lighten($navy, 30%);
}

li {
  margin-bottom: 10px;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $navy;
  margin-top: 10px;
}

blockquote {
  font-size: 14px;
  text-align: left;
}

.lazy {
  opacity: 0;
  transition: opacity .5s ease-in;
}

.cursive {
  font-family: 'Edwardian Script ITC', cursive;
}

.mono {
  font-family: monospace;
  font-weight: 700;
}

.spacer {
  padding-top: 80px;
}

.row-space {
  margin-top: 20px;
}
