.navbar {
  background: $white;
  border: 0;
}

.navbar-default .navbar-nav > li > a {
  color: $navy;
  margin: 10px 0;
  padding: 15px 10px;
  text-transform: uppercase;

  @media (min-width: 992px) {
    padding: 10px;
  }
}

.full-title > a {
  text-decoration: none;
}

.small-title {
  float: left;
  margin-top: 15px;

  > a {
    color: $navy;
    text-decoration: none;
  }

  @media (min-width: 768px) {
    font-size: 150%;
    margin-right: 20px;
    margin-top: 20px;
  }
}

.small-date {
  color: $navy;
  font-size: 8px;
  margin-bottom: 0;
  margin-top: -17px;
  padding-right: 10px;

  @media (min-width: 768px) {
    margin-top: -19px;
    padding-right: 15px;
  }
}

.navbar-title {
  font-size: 48px;
  margin: 10px;
}

.date {
  color: $navy;
  margin-bottom: 0;
  margin-top: -23px;
  padding-right: 15px;
}
