.clock {
  color: $gray;
  display: none;
  float: left;
  font-size: 30px;
  font-weight: 100;
  margin-top: -50px;
  position: relative;
  text-align: center;
  z-index: 2;

  @media (min-width: 992px) {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  > div {
    background: $white;
    border: 10px solid $white;
    display: inline-block;
  }

  > .left {
    border-top-left-radius: 20px;
  }

  > .right {
    border-top-right-radius: 20px;
  }

  div > span {
    background: $white;
    display: inline-block;
    padding: 15px;
  }

  .smalltext {
    font-size: 10px;
    padding-top: 5px;
    text-transform: uppercase;
  }
}

.img-fluid {
  width: 100%;
}

.gallery-row {
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.info {
  > p {
    text-align: justify;
  }
}

.vertical-align {
  align-items: center;
  display: flex;
}

.ohare,
.midway {
  font-weight: 700;
}

.ohare {
  color: $cta-blue;
}

.midway {
  color: $cta-orange;
}

.registry-info p {
  margin-top: 20px;
  text-align: center;

  @media (min-width: 992px) {
    font-size: 18px;
  }
}

.registry-image {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
}

.registry-thanks {
  display: none;
}

.registry-item {
  padding: 25px;

  @media (min-width: 768px) {
    padding: 50px;
  }

  img {
    width: 100%;
  }
}
