.main-image {
  height: auto;
  margin-top: -100px;
  width: 100%;
}

.info {
  > h1 {
    font-size: 48px;
  }

  > p {
    text-align: justify;
  }
}

.ohare {
  color: $cta-blue;
}

.midway {
  color: $cta-orange;
}
