.travel-info {
  > h1 {
    font-size: 48px;
  }

  > p {
    text-align: justify;
  }
}

.ohare {
  color: $cta-blue;
}

.midway {
  color: $cta-orange;
}

.airport-map,
.train-map,
.parking-map {
  height: 500px;
}
