---
layout: default
---

{{ content }}

<script src="/js/map.js"></script>
<script>
    mapper.config = {{ site.data.maps | jsonify }};
    mapper.data = {{ site.data.markers | jsonify }};

  {% for category in site.data.markers %}
  {% for marker in category[1] %}
  {% if marker[1].image %}
    mapper.data['{{ category[0] }}']['{{ marker[0] }}'].content = `
      <img width="300px"
           class="map-image"
           src="{{ marker[1].image }}"
           srcset="${'{{ marker[1].image }}'.replace('.', '@2x.')} 2x" />
      {{ marker[1].content | markdownify }}
      `.replace(/\n\s+/, '');
  {% else %}
    mapper.data['{{ category[0] }}']['{{ marker[0] }}'].content = `{{ marker[1].content | markdownify }}`;
  {% endif %}
  {% endfor %}
  {% endfor %}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.data.maps.key }}&callback={{ page.callback }}"></script>
